body
	background #daeff7
	font-family sans-serif
	color $grey
	-webkit-user-select: none;

	::-webkit-scrollbar 
		width 0.6em

	 
	::-webkit-scrollbar-thumb 
		background-color $blue
		border-radius 20px
		outline 1px solid $blue
	
	.text-blue
		color $blue
	
	.panel 
		width 800px
		height 500px
		background #fefefe
		position absolute
		left 50%
		top 50%
		transform translate(-50%,-50%)
		box-shadow 0 0 200px $blue
		
		.left-part
			position absolute
			width 60%
			height 100%
			border-right 1px solid $blue
			
			.header-calendar
				position absolute
				text-align center
				width 100%
				height 20%
				
				*
					position absolute
					width 33.3%
					top 50%
					
				.next
					right 0px
				
				h2
					left 33.4%
				
				.previous
					left 0
					

  
			.calendar
				position absolute
				left 5%
				top 20%
				height 70% 
				width 90%
				padding 0
				
				.contains-note
					position relative
										
				.contains-note:after
					content ''
					position absolute
					bottom 5px
					left 50%
					transform translate(-50%)
					height 8px
					width 8px
					border-radius 100%
					background $blue


					 
				table 
					width 100% 
					
					th 	
						width 14.2%
						font-weight bold 
						text-align center
					
				.calendar-area
					text-align center
					
					table 900px
					
					td
						width 14.2%
						cursor pointer
						
					tr
						height (300/6)px
						line-height (300/6)px
						
					.active
						background $blue
						color #fefefe
						box-shadow 0 0 15px $blue
							  	
				.non-active
					color #cecece

				.bouttton 
					background red 
					height 20px
					width 150px
					
		.right-part
			position absolute
			width 40%
			height 100%
			right 0px
			
			.weather
				position absolute
				width 100%
				height 35%
				background $blue
				
			.note
				position absolute
				width 100%
				height 65%
				bottom 0px
				padding 20px
				overflow-y scroll
				
				div
					margin 20px
  
.add-in-list
	position absolute
	width 100vw
	height 100vh
	background rgba(0,0,0,0.7)
	display none
	
	form
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		width 500px
		height 200px
		background white
		padding 25px
		
		div 
			margin 20px
			
			input
				border 1px solid $blue
				padding 2px 10px
				height 25px
				
		.quit
			position absolute
			top 5px
			right 8px
			color $blue
			border 1px solid $blue
			height 30px
			width 30px
			text-align center
			line-height 30px
			border-radius 100%
			cursor pointer
			
::placeholder
	color $blue